.bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    background-color: #9DB9D6;
    text-decoration: none;
    color: currentColor;
}

.bar:first-child {
    margin-top: 0;
}
    .bar__heading {
        position: relative;
        max-width: 944px;
        font-weight: bold;
        font-size: 22px;
        line-height: 25px;
    }
        .bar__addition {
            margin-top: 9px;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
        }

    .bar__details {
        position: relative;
        display: flex;
        align-items: flex-start;
        gap: 12px;
        padding-top: 4px;
        font-family: var(--font-heading);
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
    }
        .bar__details::after {
            content: "";
            display: block;
            margin-top: 3px;
            width: 10px;
            height: 10px;
            background-color: currentColor;
            border-radius: 50%;
        }



@media (1260px <= width) {

.bar:hover {
    background-color: transparent;
}
    .bar:hover .bar__heading {
        margin-left: -6px;
    }

    .bar:hover::before {
        content: "";
        position: absolute;
        left: -10px;
        top: -17px;
        right: -10px;
        bottom: -19px;
        background-color: #9DB9D6;
        clip-path: polygon(0.6151% 0, 98.8038% 0, 100% 100%, 0 93.3307%);
    }

    .bar:hover .bar__details::after {
        width: 26px;
        height: 14px;
        margin-right: -6px;
        background-color: transparent;
        background-image: url("../vectors/bar-after.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
}



@media (width < 740px) {

    .bar {
        padding-left: 16px;
        padding-right: 16px;
    }
        .bar__heading {
            /*font-weight: bold;*/
            font-size: 16px;
            line-height: 18px;
        }
            .bar__addition {
                font-size: 16px;
                line-height: 18px;
            }

        .bar__details {
            display: none;
            /*align-items: flex-start;*/
            /*gap: 12px;*/
            /*padding-top: 4px;*/
            /*font-family: var(--font-heading);*/
            /*font-weight: bold;*/
            /*font-size: 20px;*/
            /*line-height: 20px;*/
        }
            .bar__details::after {
                /*content: "";*/
                /*display: block;*/
                /*margin-top: 3px;*/
                /*width: 10px;*/
                /*height: 10px;*/
                /*background-color: currentColor;*/
                /*border-radius: 50%;*/
            }
}
