body {
    height: 100%;
    background-color: #FFF6F3;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: var(--font);
    font-size: var(--body-s-font);
    line-height: var(--body-s-line);
}
