body {
    position: relative; /* когда header становится position: absolute; на планшетах */
    background-color: #FFF6F3;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: var(--font);
    font-size: var(--body-s-font);
    line-height: var(--body-s-line);
}


@media (width < 740px) {

    .playlist-expanded:not(.menu-expanded) body {
        background-color: #FFFFFF;
    }

    .menu-expanded body {
        background-color: #FFFFFF;
    }
}
