.collage {
    position: relative;
    width: 1440px;
    height: 1092px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/collage/collage-desktop@1x.jpg");
    background-size: 1440px 1092px;
    background-repeat: no-repeat;
    background-position: left top;
    overflow: hidden;
}

@media (min-resolution: 1.5dppx) {
    .collage {
        background-image: url("../images/collage/collage-desktop@2x.jpg");
    }
}

.collage {
    background-image: image-set(
        url("../images/collage/collage-desktop@2x.avif") type("image/avif") 2x,
        url("../images/collage/collage-desktop@1x.avif") type("image/avif") 1x
    );
}

    .collage__video {
        opacity: 0;
    }

    .collage__video--currently-playing {
        opacity: 100%;
    }
        .collage__video--1 {
            position: absolute;
            left: 1px;
            top: 665.25px;
            width: 767.25px;
            height: auto;
        }

        .collage__video--2 {
            position: absolute;
            left: 310.25px;
            top: 753.5px;
            width: 444.7px;
            height: auto;
        }

        .collage__video--3 {
            position: absolute;
            left: 1px;
            top: -0.75px;
            width: 599.75px;
            height: auto;
        }

        .collage__video--4 {
            position: absolute;
            left: 912.75px;
            top: 78.75px;
            width: 395px;
            height: auto;
        }

        .collage__video--5 {
            position: absolute;
            left: 591.6px;
            top: 340.75px;
            width: 707.75px;
            height: auto;
        }

        .collage__video--6 {
            position: absolute;
            left: 228.1px;
            top: 287px;
            width: 1206px;
            height: auto;
        }

        .collage__video--7 {
            position: absolute;
            left: 333.25px;
            top: 476.25px;
            width: 581.5px;
            height: auto;
        }

        .collage__video--8 {
            position: absolute;
            left: 1px;
            top: -0.25px;
            width: 1043.25px;
            height: auto;
        }

        .collage__video--9 {
            position: absolute;
            left: 954.5px;
            top: -0.25px;
            width: 479.5px;
            height: auto;
        }


@media (width < 1500px) {

    .collage {
        zoom: 0.8;
    }
}


@media (width < 740px) {

    .collage {
        display: none;
    }
}
