.collage {
    position: relative;
    width: 1440px;
    height: 1092px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/collage-desktop@1x.jpg");
    background-size: 1440px 1092px;
    background-repeat: no-repeat;
    background-position: left top;
}

@media (min-resolution: 2dppx) {
    .collage {
        background-image: url("../images/collage-desktop@2x.jpg");
    }
}

.collage {
    background-image: image-set(
        url("../images/collage-desktop@2x.avif") type("image/avif") 2x,
        url("../images/collage-desktop@1x.avif") type("image/avif") 1x
    );
}

    .collage__video {

    }
        .collage__video--1 {
            position: absolute;
            left: 591px;
            top: 341px;
            width: 708px;
            height: auto;
        }

        .collage__video--2 {
            position: absolute;
            left: 228px;
            top: 287px;
            width: 1206px;
            height: auto;
        }

        .collage__video--3 {
            position: absolute;
            left: 333px;
            top: 476px;
            width: 582px;
            height: auto;
        }

        .collage__video--4 {
            position: absolute;
            left: 954px;
            top: 0;
            width: 480px;
            height: auto;
        }

    /*.collage__video--ready {*/
    /*    opacity: 100%;*/
    /*}*/


.collage__unmute {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 300px;
    background: purple;
}
