.collage {
    width: 1440px;
    height: 1092px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/collage-desktop@1x.jpg");
    background-size: 1440px 1092px;
    background-repeat: no-repeat;
    background-position: left top;
}

@media (min-resolution: 2dppx) {
    .collage {
        background-image: url("../images/collage-desktop@2x.jpg");
    }
}



.collage {
    background-image: image-set(
        url("../images/collage-desktop@2x.avif") type("image/avif") 2x,
        url("../images/collage-desktop@1x.avif") type("image/avif") 1x
    );
}

    .collage__video {
        opacity: 10%;
    }

    .collage__video--ready {
        opacity: 100%;
    }
