.footer {

}
    .footer__primary {
        padding-top: 29px;
        padding-bottom: 63px;
        background-image: url("../vectors/footer.svg");
        background-size: 1548px 100%;
        background-repeat: no-repeat;
        background-position: center center;
        color: #FFFFFF;
    }
        .footer__inner {
            position: relative;
            padding-left: 41px;
            padding-right: 41px;
            display: flex;
            align-items: flex-start;
        }
            .footer__logo {
                margin-top: 11px;
                width: 146px;
                height: 140px;
                background-image: url("../images/footer-logo.png");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                text-indent: 200%;
                white-space: nowrap;
                overflow: hidden;
            }

            @media (min-resolution: 1.5dppx) {
                .footer__logo {
                    background-image: url("../images/footer-logo@2x.png");
                }
            }

            .footer__contains-1 {
                margin-left: 100px;
            }

            .footer__contains-2 {
                margin-left: 40px;
            }

                .footer__link {
                    display: block;
                    padding-top: 15px;
                    padding-bottom: 6px;
                    width: fit-content;
                    font-family: var(--font-heading);
                    font-weight: bold;
                    font-size: var(--subtitle-m-font);
                    line-height: calc(var(--subtitle-m-line) - 0.2);
                    color: inherit;
                    text-decoration: 2px underline transparent;
                    text-underline-offset: 6px;
                    transition: text-decoration-color var(--transition-hover);
                }

                .footer__link:hover {
                    text-decoration-color: currentColor;
                }
                    .footer__line-break {
                        display: none;
                    }

            .footer__pages {
                margin-top: 17px;
                margin-left: 180px;
            }
                .footer__sub-heading {
                    margin-top: 40px;
                    display: block;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 22px;
                }

                .footer__sub-heading:first-child {
                    margin-top: 0;
                }

                .footer__text {
                    margin-top: 16px;
                    font-size: 18px;
                    line-height: 22px;
                }

    .footer__secondary {

    }



@media (width < 1500px) {

    .footer {

    }
        .footer__primary {
            background-image: none;
            background-color: #605E7D;
        }

        .footer__inner {
            padding-left: 0;
            padding-right: 154px;
            justify-content: space-between;
        }

        .footer__contains-1 {
            margin-left: 0;
        }

        .footer__contains-2 {
            margin-left: -20px;
        }

        .footer__line-break {
            display: inline;
        }

        .footer__pages {
            margin-left: 0;
        }

        @media (width < 1440px) {

            .footer__inner {
                padding-right: 60px;
            }

            .footer__contains-2 {
                margin-left: -20px;
            }

            .footer__pages {
                margin-left: 0;
            }
        }
}
