.footer {
    margin-top: 130px;
    padding-bottom: 65px;
}
    .footer__primary {
        background-image: url("../vectors/footer.svg");
        background-size: 1548px 100%;
        background-repeat: no-repeat;
        background-position: center center;
        color: #FFFFFF;
    }
        .footer__primary-wrap {
            padding-top: 29px;
            padding-bottom: 63px;
        }
            .footer__inner {
                position: relative;
                padding-left: 41px;
                padding-right: 41px;
                display: flex;
                align-items: flex-start;
            }
                .footer__summary {
                    margin-top: 11px;
                    flex-shrink: 0;
                    display: flex;
                    flex-direction: column;
                }
                    .footer__logo {
                        width: 146px;
                        height: 140px;
                        background-image: url("../images/footer-logo.png");
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center center;
                        text-indent: 200%;
                        white-space: nowrap;
                        overflow: hidden;
                    }

                    @media (min-resolution: 1.5dppx) {
                        .footer__logo {
                            background-image: url("../images/footer-logo@2x.png");
                        }
                    }

                    .footer__partner {
                        margin-top: 26px;
                        margin-left: 2px;
                        display: flex;
                        vertical-align: top;
                        width: 100px;
                    }
                        .footer__emblem {
                            vertical-align: top;
                        }

                .footer__contains-1 {
                    margin-left: 100px;
                }

                .footer__contains-2 {
                    margin-left: 40px;
                }

                    .footer__link {
                        display: block;
                        padding-top: 15px;
                        padding-bottom: 6px;
                        width: fit-content;
                        font-family: var(--font-heading);
                        font-weight: bold;
                        font-size: var(--subtitle-m-font);
                        line-height: calc(var(--subtitle-m-line) - 0.2);
                        color: inherit;
                        white-space: nowrap;
                        text-decoration: 2px underline transparent;
                        text-underline-offset: 6px;
                        transition: text-decoration-color var(--transition-hover);
                    }

                    .footer__link:hover {
                        text-decoration-color: currentColor;
                    }
                        .footer__line-break {
                            display: none;
                        }

                .footer__pages {
                    margin-top: 17px;
                    margin-left: 180px;
                }
                    .footer__sub-heading {
                        margin-top: 40px;
                        display: block;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 22px;
                    }

                    .footer__sub-heading:first-child {
                        margin-top: 0;
                    }

                    .footer__text {
                        margin-top: 16px;
                        font-size: 18px;
                        line-height: 22px;
                    }

    .footer__secondary {
        display: flex;
        justify-content: space-between;
        margin-top: 37px;
    }
        .footer__copyright {
            display: flex;
            align-items: baseline;
            gap: 40px;
            font-size: 16px;
            line-height: 24px;
            color: #4D4D4D;
        }
            .footer__bottom-nav {
                display: flex;
                align-items: baseline;
                gap: 40px;
            }

        .footer__developer {
            display: flex;
            align-items: baseline;
            gap: 7px;
            margin-top: 5px;
            font-size: 11px;
            line-height: 14px;
            color: #4D4D4D;
        }
            .footer__red-star {
                position: relative;
                top: -1px;
                display: inline-block;
                vertical-align: baseline;
                width: 80px;
                height: 16px;
                background-image: url("../images/footer-developer.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                text-indent: 200%;
                white-space: nowrap;
                overflow: hidden;
            }


@media (width < 1500px) {

    .footer {
        /*margin-top: 130px;*/
        padding-bottom: 29px;
    }
        .footer__primary {
            background-image: url("../vectors/footer-mobile.svg");
            background-size: 1236px 100%;
            /*background-repeat: no-repeat;*/
            /*background-position: center center;*/
            /*color: #FFFFFF;*/
        }
            .footer__primary-wrap {
                /*padding-top: 29px;*/
                padding-bottom: 51px;
            }
                .footer__inner {
                    /*position: relative;*/
                    padding-left: 61px;
                    padding-right: 30px;
                    /*display: flex;*/
                    /*align-items: flex-start;*/
                }
                    .footer__summary {
                        /*margin-top: 11px;*/
                    }
                        .footer__logo {
                            /*width: 146px;*/
                            /*height: 140px;*/
                            /*background-image: url("../images/footer-logo.png");*/
                            /*background-size: contain;*/
                            /*background-repeat: no-repeat;*/
                            /*background-position: center center;*/
                            /*text-indent: 200%;*/
                            /*white-space: nowrap;*/
                            /*overflow: hidden;*/
                        }

                        .footer__partner {
                            margin-left: 0;
                            margin-top: 16px;
                            scale: 90%;
                            transform-origin: 0 center;
                        }
                            .footer__emblem {

                            }

                    .footer__contains-1 {
                        margin-left: 80px;
                    }

                    .footer__contains-2 {
                        margin-left: 40px;
                    }

                        .footer__link {
                            /*display: block;*/
                            /*padding-top: 15px;*/
                            /*padding-bottom: 6px;*/
                            /*width: fit-content;*/
                            /*font-family: var(--font-heading);*/
                            /*font-weight: bold;*/
                            font-size: 32px;
                            line-height: 36px;
                            /*color: inherit;*/
                            /*text-decoration: 2px underline transparent;*/
                            /*text-underline-offset: 6px;*/
                            /*transition: text-decoration-color var(--transition-hover);*/
                        }

                        .footer__link:hover {
                            /*text-decoration-color: currentColor;*/
                        }
                            .footer__line-break {
                                /*display: none;*/
                            }

                    .footer__pages {
                        /*margin-top: 17px;*/
                        margin-left: 70px;
                    }
                        .footer__sub-heading {
                            margin-top: 33px;
                            /*display: block;*/
                            /*font-weight: bold;*/
                            /*font-size: 18px;*/
                            /*line-height: 22px;*/
                        }

                        .footer__sub-heading:first-child {
                            /*margin-top: 0;*/
                        }

                        .footer__text {
                            /*margin-top: 16px;*/
                            /*font-size: 18px;*/
                            /*line-height: 22px;*/
                        }

        .footer__secondary {
            /*display: flex;*/
            /*justify-content: space-between;*/
            margin-top: 21px;
        }
            .footer__copyright {
                /*display: flex;*/
                /*align-items: baseline;*/
                /*gap: 40px;*/
                font-size: 15px;
                line-height: 22px;
                /*color: #4D4D4D;*/
            }
                .footer__bottom-nav {
                    /*display: flex;*/
                    /*align-items: baseline;*/
                    /*gap: 40px;*/
                }

            .footer__developer {
                /*display: flex;*/
                /*align-items: baseline;*/
                /*gap: 7px;*/
                /*margin-top: 5px;*/
                /*font-size: 11px;*/
                /*line-height: 14px;*/
                /*color: #4D4D4D;*/
            }
                .footer__red-star {
                    /*position: relative;*/
                    /*top: -1px;*/
                    /*display: inline-block;*/
                    /*vertical-align: baseline;*/
                    /*width: 80px;*/
                    /*height: 16px;*/
                    /*background-image: url("../images/footer-developer.svg");*/
                    /*background-size: contain;*/
                    /*background-repeat: no-repeat;*/
                    /*background-position: center center;*/
                    /*text-indent: 200%;*/
                    /*white-space: nowrap;*/
                    /*overflow: hidden;*/
                }
}





@media (width < 740px) {

    .footer {
        padding-bottom: 32px;
    }
        .footer__primary {
            background-image: none;
            background-color: #605E7D;
            /*background-size: 1548px 100%;*/
            /*background-repeat: no-repeat;*/
            /*background-position: center center;*/
            /*color: #FFFFFF;*/
        }
            .footer__primary-wrap {
                padding-top: 23px;
                padding-bottom: 73px;
            }
                .footer__inner {
                    /*position: relative;*/
                    padding-left: 0;
                    padding-right: 0;
                    display: block;
                    /*align-items: flex-start;*/
                }
                    .footer__logo {
                        margin-top: 0;
                        margin-left: auto;
                        width: 114px;
                        height: 110px;
                        /*background-image: url("../images/footer-logo.png");*/
                        /*background-size: contain;*/
                        /*background-repeat: no-repeat;*/
                        /*background-position: center center;*/
                        /*text-indent: 200%;*/
                        /*white-space: nowrap;*/
                        /*overflow: hidden;*/
                    }

                    .footer__contains-1 {
                        margin-left: 0;
                        margin-top: 16px;
                    }

                    .footer__contains-2 {
                        margin-left: 0;
                    }
                        .footer__link {
                            /*display: block;*/
                            padding-top: 19px;
                            padding-bottom: 10px;
                            /*width: fit-content;*/
                            /*font-family: var(--font-heading);*/
                            /*font-weight: bold;*/
                            font-size: 32px;
                            line-height: 32px;
                            /*color: inherit;*/
                            /*text-decoration: 2px underline transparent;*/
                            /*text-underline-offset: 6px;*/
                            /*transition: text-decoration-color var(--transition-hover);*/
                        }

                        .footer__link:hover {
                            /*text-decoration-color: currentColor;*/
                        }
                            .footer__line-break {
                                display: none;
                            }

                    .footer__pages {
                        margin-top: 34px;
                        /*margin-top: 17px;*/
                        margin-left: 0;
                    }
                        .footer__sub-heading {
                            margin-top: 40px;
                            /*display: block;*/
                            /*font-weight: bold;*/
                            /*font-size: 18px;*/
                            /*line-height: 22px;*/
                        }

                        .footer__sub-heading:first-child {
                            /*margin-top: 0;*/
                        }

                        .footer__text {
                            /*margin-top: 16px;*/
                            /*font-size: 18px;*/
                            /*line-height: 22px;*/
                        }

        .footer__secondary {
            display: block;
            /*justify-content: space-between;*/
            margin-top: 21px;
        }
            .footer__copyright {
                display: block;
                /*align-items: baseline;*/
                font-size: 14px;
                line-height: 22px;
                /*color: #4D4D4D;*/
            }
                .footer__bottom-nav {
                    margin-top: 18px;
                    display: flex;
                    align-items: baseline;
                    gap: 24px;
                }

                @media (370px <= width < 400px) {
                    .footer__bottom-nav {
                        justify-content: space-between;
                    }
                }

                @media (width < 370px) {
                    .footer__bottom-nav {
                        display: flex;
                        flex-direction: column;
                        gap: 24px;
                    }
                }

            .footer__developer {
                margin-top: 21px;
                /*display: flex;*/
                /*align-items: baseline;*/
                /*gap: 7px;*/
                /*margin-top: 5px;*/
                /*font-size: 11px;*/
                /*line-height: 14px;*/
                /*color: #4D4D4D;*/
            }

            @media (370px <= width < 400px) {
                .footer__developer {
                    justify-content: flex-end;
                }
            }

            @media (width < 370px) {
                .footer__developer {
                    margin-top: 26px;
                    justify-content: flex-start;
                }
            }

                .footer__red-star {
                    /*position: relative;*/
                    /*top: -1px;*/
                    /*display: inline-block;*/
                    /*vertical-align: baseline;*/
                    /*width: 80px;*/
                    /*height: 16px;*/
                    /*background-image: url("../vectors/footer-developer.svg");*/
                    /*background-size: contain;*/
                    /*background-repeat: no-repeat;*/
                    /*background-position: center center;*/
                    /*text-indent: 200%;*/
                    /*white-space: nowrap;*/
                    /*overflow: hidden;*/
                }
}
