.fragment {
    position: relative; /* перерываем картинку из предыдущего пункта     */
    padding-bottom: 180px;
}

.fragment:last-child {
    padding-bottom: 0;
}
    .fragment__wrap {
        position: relative; /* для позиционирования .fragment__wrap::after */
        display: flex;
        align-items: flex-start;
        gap: 23px;
    }
        .fragment__content {
            position: relative;  /* для позиционирования .fragment__content::after */
            flex-grow: 830;
            flex-basis: 0;
        }
            .fragment__heading {
                margin-top: 0;
                margin-bottom: 0;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .fragment__description {
                margin-top: 10px;
            }


            @media (width < 1500px) {

                .fragment__description {
                    margin-top: 0;
                }
            }


            .fragment__more {
                position: relative; /* выше некоторых иллюстраций */
                z-index: 10;
                margin-top: 20px;
                margin-left: auto;
                margin-right: 17px;
                display: flex;
                width: fit-content;
                align-items: center;
                gap: 8px;
                border: none;
                padding: 8px 2px 4px;
                font-family: var(--font-heading);
                font-weight: bold;
                font-size: 20px;
                line-height: 24px;
                color: #605E7D;
                text-align: center;
                text-decoration: 1.75px underline transparent;
                text-underline-offset: 4px;
                white-space: nowrap;
                cursor: pointer;
                user-select: none;
                transition: text-decoration-color var(--transition-hover);
            }

            .fragment__more:hover {
                text-decoration-color: currentColor;
            }
                .fragment__more::after {
                    content: "";
                    display: block;
                    position: relative;
                    top: -1px;
                    width: 26px;
                    height: 14px;
                    background-image: url("../vectors/arrow-right.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                }

        .fragment__preview {
            flex-grow: 586;
            flex-basis: 0;
        }
            .fragment__illustration {
                width: 100%;
                height: auto;
                margin-bottom: 16px;
            }





.fragment--tajny {

}
    .fragment--tajny .fragment__wrap {
        flex-direction: row-reverse;
    }

    .fragment--tajny .fragment__illustration {
        margin-top: -38px;
    }

    .fragment--tajny .fragment__content::after {
        content: "";
        position: absolute;
        left: 150px;
        top: 100%;
        margin-top: -33px;
        display: block;
        width: 302px;
        height: 292px;
        background-image: url("../images/fragments/fragments-tajny-bottom@1x.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    @media (min-resolution: 1.5dppx) {

        .fragment--tajny .fragment__content::after {
            background-image: url("../images/fragments/fragments-tajny-bottom@2x.jpg");
        }
    }

    @media (width < 1500px) {

        .fragment--tajny .fragment__content::after {
            width: 204px;
            height: 197px;
            left: 120px;
        }
    }


.fragment--zhiteli {

}
    .fragment--zhiteli .fragment__wrap {

    }

    .fragment--zhiteli .fragment__wrap::after {
        content: "";
        position: absolute;
        left: 100%;
        margin-left: 87px;
        top: -118px;
        margin-top: 0;
        display: block;
        width: 118px;
        height: 147px;
        background-image: url("../images/fragments/fragment-zhiteli-right.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .fragment--zhiteli .fragment__content::after {
        content: "";
        position: absolute;
        right: 220px;
        top: 100%;
        display: block;
        width: 86px;
        height: 110px;
        background-image: url("../images/fragments/fragment-zhiteli-bottom.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    @media (width < 1500px) {
        .fragment--zhiteli .fragment__content::after {
            width: 49px;
            height: 63px;
            margin-top: -15px;
        }
    }


.fragment--progulki-po-leningradu {

}
    .fragment--progulki-po-leningradu .fragment__wrap {
        flex-direction: row-reverse;
    }

    .fragment--progulki-po-leningradu .fragment__wrap::after {
        content: "";
        position: absolute;
        right: 100%;
        margin-right: 26px;
        top: 0;
        margin-top: -222px;
        display: block;
        width: 135px;
        height: 243px;
        background-image: url("../images/fragments/fragment-progulki-po-leningradu-left.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .fragment--progulki-po-leningradu .fragment__content::after {
        content: "";
        position: absolute;
        left: 183px;
        top: 100%;
        margin-top: 60px;
        display: block;
        width: 220px;
        height: 149px;
        background-image: url("../images/fragments/fragment-progulki-po-leningradu-bottom.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    @media (width < 1500px) {

        .fragment--progulki-po-leningradu .fragment__content::after {
            width: 184px;
            height: 125px;
            left: 98px;
            margin-top: 70px;
        }
    }



.fragment--hudozhniki {

}
    .fragment--hudozhniki .fragment__wrap {

    }

    .fragment--hudozhniki .fragment__content::after {
        content: "";
        position: absolute;
        right: 111px;
        top: 100%;
        margin-top: -32px;
        display: block;
        width: 248px;
        height: 379px;
        background-image: url("../images/fragments/fragment-hudozhniki-bottom@1x.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    @media (min-resolution: 1.5dppx) {
        .fragment--hudozhniki .fragment__content::after {
            background-image: url("../images/fragments/fragment-hudozhniki-bottom@2x.jpg");
        }
    }

    @media (width < 1500px) {
        .fragment--hudozhniki .fragment__content::after {
            width: 174px;
            height: 266px;
            right: 161px;
            margin-top: -22px;
        }
    }

.fragment--pojety {

}
    .fragment--pojety .fragment__wrap {
        flex-direction: row-reverse;
    }

    .fragment--pojety .fragment__wrap::after {
        content: "";
        position: absolute;
        right: 100%;
        margin-right: 50px;
        top: 147px;
        display: block;
        width: 107px;
        height: 110px;
        background-image: url("../images/fragments/fragment-pojety-left.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .fragment--pojety .fragment__content::after {
        content: "";
        position: absolute;
        left: 157px;
        top: 100%;
        margin-top: 64px;
        display: block;
        width: 146px;
        height: 129px;
        background-image: url("../images/fragments/fragment-pojety-bottom@1x.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    @media (min-resolution: 1.5dppx) {
        .fragment--pojety .fragment__content::after {
            background-image: url("../images/fragments/fragment-pojety-bottom@2x.jpg");
        }
    }


    @media (width < 1500px) {
        .fragment--pojety .fragment__content::after {
            width: 135px;
            height: 110px;
            margin-top: 18px;
            left: 75px;
        }
    }


.fragment--muzyka {
    margin-bottom: 20px;
}
    .fragment--muzyka .fragment__wrap {

    }

    .fragment--muzyka .fragment__content::after {
        content: "";
        position: absolute;
        right: 44px;
        margin-right: 200px;
        top: 100%;
        margin-top: -43px;
        display: block;
        width: 296px;
        height: 302px;
        background-image: url("../images/fragments/fragment-muzyka-bottom@1x.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    @media (min-resolution: 1.5dppx) {
        .fragment--muzyka .fragment__content::after {
            background-image: url("../images/fragments/fragment-muzyka-bottom@2x.jpg");
        }
    }

    @media (width < 1500px) {
        .fragment--muzyka .fragment__content::after {
            width: 193px;
            height: 202px;
            margin-right: 110px;
            margin-top: -33px;
        }
    }


.fragment--igry {

}
    .fragment--igry .fragment__wrap {
        flex-direction: row-reverse;
    }

    .fragment--igry .fragment__illustration {
        margin-top: -20px;
    }


.fragment--1931-god {

}
    .fragment--1931-god .fragment__wrap {

    }

    .fragment--1931-god .fragment__wrap::before {
        content: "";
        position: absolute;
        right: 100%;
        margin-right: -8px;
        top: 403px;
        display: block;
        width: 209px;
        height: 172px;
        background-image: url("../images/fragments/fragment-1931-god-left.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .fragment--1931-god .fragment__wrap::after {
        content: "";
        position: absolute;
        left: 100%;
        margin-left: -16px;
        top: 158px;
        display: block;
        width: 193px;
        height: 186px;
        background-image: url("../images/fragments/fragment-1931-god-right@1x.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    @media (min-resolution: 1.5dppx) {

        .fragment--1931-god .fragment__wrap::after {
            background-image: url("../images/fragments/fragment-1931-god-right@2x.jpg");
        }
    }



.fragment--posvjashhenija {

}
    .fragment--posvjashhenija .fragment__wrap {
        flex-direction: row-reverse;
    }

    .fragment--posvjashhenija .fragment__wrap::after {
        content: "";
        position: absolute;
        left: 100%;
        margin-left: 26px;
        top: 291px;
        display: block;
        width: 129px;
        height: 157px;
        background-image: url("../images/fragments/fragment-posvjashhenija-right.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }



@media (width < 1860px) {
    .fragment__wrap::before,
    .fragment__wrap::after {
        display: none !important;
    }
}


@media (width < 740px) {

    .fragment {
        position: relative;
        padding-bottom: 0;
    }
        /* разделитель: */
        .fragment::after {
            content: "";
            display: block;
            margin: 40px var(--container-padding) 72px;
            height: 1px;
            background-color: #8A8CA8;
        }

    .fragment:last-child {
        margin-bottom: 120px;
    }
        .fragment:last-child::after {
            display: none;
        }

        .fragment__wrap {
            /*position: relative; !* для позиционирования .fragment__wrap::after *!*/
            display: block;
            /*align-items: flex-start;*/
            /*gap: 23px;*/
        }
            .fragment__content {
                /*position: relative;  !* для позиционирования .fragment__content::after *!*/
                /*flex-grow: 830;*/
                /*flex-basis: 0;*/
                padding-bottom: 0;
                display: grid;
                grid-template-columns: 1fr auto;
                grid-template-areas: "left right" "bottom bottom";
                align-items: center;
            }

            .fragment:first-child .fragment__content {
                border-top: none;
                padding-top: 0;
            }
                .fragment__heading {
                    grid-area: left;
                    margin-right: 60px; /* Потому что стрелочка */
                }

                .fragment__description {
                    /*margin-top: 10px;*/
                    grid-area: bottom;
                }

                .fragment__more {
                    margin-top: -16px;
                    margin-bottom: -16px;
                    margin-right: calc(-1 * var(--container-padding) + 2px); /* 2px чтобы чуть-чуть отжать от края экрана, чтобы вдруг не появился горизонтальный скролл */
                    grid-area: right;
                    box-sizing: content-box;
                    width: 36px;
                    border-left: var(--container-padding) solid transparent;
                    border-right: var(--container-padding) solid transparent;
                    height: 61px;
                    text-indent: 200%;
                    white-space: nowrap;
                    overflow: hidden;
                }
                    .fragment__more::after {
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        width: 36px;
                        height: 21px;
                        margin: auto;
                    }

            .fragment__preview {
                margin-top: 40px;
                /*flex-grow: 586;*/
                /*flex-basis: 0;*/
            }
                .fragment__illustration {
                    margin-top: 0 !important;
                    /*width: 100%;*/
                    /*height: auto;*/
                }

                .player-slot {
                    /*display: flex;*/
                    /*align-items: center;*/
                    /*justify-content: center;*/
                    /*height: 85px;*/
                    /*background: #BFBBAD;*/
                }



    /* Illustrations: */

    .fragment__wrap::before,
    .fragment__wrap::after {
        display: none !important;
    }

    .fragment__content::after {
        display: none !important;
    }
}

