.header {
    padding: 34px;
}
    .header__inner {
        height: 114px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #5E607E;
        color: #FFFFFF;
    }
