.header {
    height: 204px;
}
    .header__detachable-panel {
        position: fixed;
        z-index: 100;
        left: 0;
        top: 34px;
        right: 0;
        height: var(--header-height);
        background-image: url("../vectors/header.svg");
        background-size: 1480px 137px;
        background-repeat: no-repeat;
        background-position: center center;
        color: #FFFFFF;
    }
        .header__wrap {
            position: relative;
        }
            .header__player-toggle {
                position: absolute;
                left: 46px;
                top: 22px;
                width: 86px;
                height: 68px;
                border: none;
                padding: 0;
                background-color: transparent;
                background-image: url("../vectors/header-playlist.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                cursor: pointer;
                text-indent: 200%;
                white-space: nowrap;
                overflow: hidden;
            }

            .header__player-toggle:hover {
                opacity: 80%;
            }

            .header__marquee {
                position: absolute;
                top: 47px;
                left: 152px;
                width: 400px;
            }

            .header__logo {
                margin-left: auto;
                margin-right: auto;
                margin-top: 14px;
                display: block;
                width: 104px;
                height: 101px;
                background-image: url("../images/footer-logo.png");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                text-indent: 200%;
                white-space: nowrap;
                overflow: hidden;
            }

            @media (min-resolution: 1.5dppx) {
                .header__logo {
                    background-image: url("../images/footer-logo@2x.png");
                }
            }


@media (width < 1500px) {

    .header {
        height: 128px;
    }
        .header__detachable-panel {
            top: 10px;
            height: var(--header-height);
            background-image: url("../vectors/header-mobile.svg");
            background-size: 1233px 109px;
        }
            .header__wrap {
                /*position: relative;*/
            }
                .header__player-toggle {
                    /*position: absolute;*/
                    left: 30px;
                    top: 14px;
                    width: 68px;
                    height: 53px;
                    /*border: none;*/
                    /*padding: 0;*/
                    /*background-color: transparent;*/
                    /*background-image: url("../vectors/header-playlist.svg");*/
                    /*background-size: contain;*/
                    /*background-repeat: no-repeat;*/
                    /*background-position: center center;*/
                    /*cursor: pointer;*/
                    /*text-indent: 200%;*/
                    /*white-space: nowrap;*/
                    /*overflow: hidden;*/
                }

                .header__player-toggle:hover {
                    /*opacity: 80%;*/
                }

                .header__marquee {
                    /*position: absolute;*/
                    top: 31px;
                    left: 120px;
                    width: 300px;
                }

                .header__logo {
                    /*margin-left: auto;*/
                    /*margin-right: auto;*/
                    margin-top: 10px;
                    /*display: block;*/
                    width: 81px;
                    height: 80px;
                    /*background-image: url("../images/footer-logo.png");*/
                    /*background-size: contain;*/
                    /*background-repeat: no-repeat;*/
                    /*background-position: center center;*/
                    /*text-indent: 200%;*/
                    /*white-space: nowrap;*/
                    /*overflow: hidden;*/
                }
}



@media (width < 1260px) {

    .header {
        /*height: 128px;*/
    }
        .header__detachable-panel {
            position: relative;
            /*top: 10px;*/
            /*height: var(--header-height);*/
            /*background-image: url("../vectors/header-mobile.svg");*/
            /*background-size: 1233px 109px;*/
        }
            .header__wrap {
                /*position: relative;*/
            }
                .header__player-toggle {
                    /*position: absolute;*/
                    /*left: 30px;*/
                    /*top: 14px;*/
                    /*width: 68px;*/
                    /*height: 53px;*/
                    /*border: none;*/
                    /*padding: 0;*/
                    /*background-color: transparent;*/
                    /*background-image: url("../vectors/header-playlist.svg");*/
                    /*background-size: contain;*/
                    /*background-repeat: no-repeat;*/
                    /*background-position: center center;*/
                    /*cursor: pointer;*/
                    /*text-indent: 200%;*/
                    /*white-space: nowrap;*/
                    /*overflow: hidden;*/
                }

                .header__player-toggle:hover {
                    /*opacity: 80%;*/
                }

                .header__marquee {
                    /*position: absolute;*/
                    /*top: 31px;*/
                    /*left: 120px;*/
                    /*width: 300px;*/
                }

                .header__logo {
                    /*margin-left: auto;*/
                    /*margin-right: auto;*/
                    /*margin-top: 10px;*/
                    /*display: block;*/
                    /*width: 81px;*/
                    /*height: 80px;*/
                    /*background-image: url("../images/footer-logo.png");*/
                    /*background-size: contain;*/
                    /*background-repeat: no-repeat;*/
                    /*background-position: center center;*/
                    /*text-indent: 200%;*/
                    /*white-space: nowrap;*/
                    /*overflow: hidden;*/
                }
}
