.play-pause-btn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.play-pause-btn:hover {
    opacity: 70%;
}
    .play-pause-btn svg {
        pointer-events: none; /* По какой-то причине клик в svg-ешку закрывает выпадайку. Срабатывает скрипт: if (!$(event.target).closest('.playlist__body, .header__player-toggle').length) { ...*/
        fill: #000000;
    }
