:root {
    --font: Helvetica Neue, Helvetica, Arial, sans-serif;
    --font-heading: "Bebas Neue", sans-serif;
    /*--body-font-size: 16px;*/
    /*--body-line-height: 24px;*/
    --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
    --transition-hover: 100ms ease;
    /*--transition-show: 1200ms var(--ease-out-quint);*/
    /*--image-fallback: #F3F5F4;*/
    --container-padding: 54px; /* Равно срезам трапеции в подвале */
    --action-color: #605E7D;
    --action-color-hover: #605E7D;
    /*--input-border: #B3B3B3;*/
    /*--input-border-hover-and-focus: #7E7E7E;*/
    /*--placeholder-color: #999999;*/
    /*--disabled-background: #F6F6F6;*/
    /*--disabled-color: #999999;*/
    /*--error: #FF0033;*/
    --gray: #605E7D;
}

@media (350px <= width < 600px) {
    :root {
        --container-padding: 24px;
    }
}

@media (width < 350px) {
    :root {
        --container-padding: 16px;
    }
}



:root {
    --header-height: 137px;
}


@media (width < 1500px) {

    :root {
        --header-height: 109px;
    }
}


@media (width < 740px) {

    :root {
        --header-height: 70px;
    }
}




:root {
    --display-font: 56px;
    --display-line: 56px;
    --heading-l-font: 48px;
    --heading-l-line: 48px;
    --heading-m-font: 42px;
    --heading-m-line: 1.4;
    --subtitle-l-font: 40px;
    --subtitle-l-line: 1.4;
    --subtitle-m-font: 38px;
    --subtitle-m-line: 1.4;
    --body-s-font: 22px;
    --body-s-line: 1.4;
    --body-xs-font: 20px;
    --body-xs-line: 1.4;
}


@media (width < 740px) {

    :root {
        --display-font: 32px;
        --display-line: 43px;
        --heading-l-font: 36px;
        --heading-l-line: 36px;
        --heading-m-font: 28px;
        --heading-m-line: 1.4;
        /*--subtitle-l-font: 40px; отстутствоует */
        /*--subtitle-l-line: 1.4; отстутствоует */
        --subtitle-m-font: 24px;
        --subtitle-m-line: 1.4;
        --body-s-font: 18px;
        --body-s-line: 22px;
        --body-xs-font: 16px;
        --body-xs-line: 18px;
    }
}


@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }
    to {
        opacity: 100%;
        transform: translateY(0);
    }
}
