.title {
    font-family: var(--font-heading);
    font-size: 42px;
    line-height: 59px;
    color: #605E7D;
}

@media (width < 740px) {

    .title {
        font-size: 28px;
        line-height: 29px;
    }
}



.title--smaller {
    font-size: 38px;
    line-height: 53px;
}

@media (width < 740px) {
    .title--smaller {
        font-size: 24px;
        line-height: 40px;
    }
}



.title--page-level {
    font-size: 56px;
    line-height: 56px;
}

@media (width < 740px) {

    .title--page-level {
        font-size: 40px;
        line-height: 42px;
    }
}
