.wysiwyg {
    --wysiwyg-font: var(--body-s-font);
    --wysiwyg-line: var(--body-s-line);
}

.wysiwyg--smaller {
    --wysiwyg-font: 20px;
    --wysiwyg-line: 28px;
}

@media (width < 1500px) {
    .wysiwyg--smaller {
        --wysiwyg-font: 18px;
        --wysiwyg-line: 25px;
    }
}



.wysiwyg {
    overflow-wrap: break-word;
    font-size: var(--wysiwyg-font);
    line-height: var(--wysiwyg-line);
}

.wysiwyg p,
.wysiwyg ul,
.wysiwyg ol,
.wysiwyg hr,
.wysiwyg figure,
.wysiwyg blockquote {
    margin-top: calc(var(--wysiwyg-font) / 3 * 2); /* Если меняем это значение, то поменять и отступ в .intro__bottom */
    margin-bottom: calc(var(--wysiwyg-line) / 3 * 2); /* Если меняем это значение, то поменять и отступ в .intro__bottom */
}

.wysiwyg p:first-child,
.wysiwyg ul:first-child,
.wysiwyg ol:first-child,
.wysiwyg hr:first-child,
.wysiwyg figure:first-child,
.wysiwyg blockquote:first-child {
    margin-top: 0;
}

.wysiwyg p:last-child,
.wysiwyg ul:last-child,
.wysiwyg ol:last-child,
.wysiwyg hr:last-child,
.wysiwyg figure:last-child,
.wysiwyg blockquote:last-child {
    margin-bottom: 0;
}

/* Исключая figure: */
.wysiwyg p,
.wysiwyg ul,
.wysiwyg ol,
.wysiwyg hr,
.wysiwyg blockquote {
    max-width: 1072px;
}


.wysiwyg h2 {
    margin-top: 32px;
    margin-bottom: 24px;
    font-family: var(--font-heading);
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    color: #605E7D;
    text-transform: uppercase;
}

@media (width < 740px) {
    .wysiwyg h2 {
        margin-top: 28px;
        margin-bottom: 20px;
    }
}

.wysiwyg h3 {

}

.wysiwyg h4 {

}

.wysiwyg h2:first-child,
.wysiwyg h3:first-child,
.wysiwyg h4:first-child {
    margin-top: 0;
}

.wysiwyg h2:last-child,
.wysiwyg h3:last-child,
.wysiwyg h4:last-child {
    margin-bottom: 0;
}

.wysiwyg figure {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.wysiwyg img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

.wysiwyg a {
    /* See .link component */
}



